terraform {
  # backend "remote" {
  #   hostname     = "app.terraform.io"
  #   organization = "paragon-cloud"
  #   workspaces {
  #     name = "paragon-gcp-infra"
  #   }
  # }
}

provider "google" {
  credentials    = var.gcp_assume_role ? null : local.gcp_creds
  default_labels = local.default_labels
  project        = local.gcp_project_id
  region         = var.region
  zone           = var.region_zone
}

provider "google-beta" {
  credentials    = var.gcp_assume_role ? null : local.gcp_creds
  default_labels = local.default_labels
  project        = local.gcp_project_id
  region         = var.region
  zone           = var.region_zone
}
